@model RegisterViewModel

<h1>Register</h1>
<form method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All"></div>
    <input asp-for="UserName" placeholder="Username" />
    <span asp-validation-for="UserName"></span>
    <input asp-for="Email" placeholder="Email" />
    <span asp-validation-for="Email"></span>
    <input asp-for="Password" placeholder="Password" />
    <span asp-validation-for="Password"></span>
    <button type="submit">Create Account</button>
</form>
